:root {
    font-size: $default-text-size;
}

body {
    background-color: $bg-light-gray;
}

.header-container {
    display: inline-block;
    width: 100%;
    background-color: white;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1260px;
        height: 100px;
        margin: 0 auto;

        .logo-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .logo-image {
                height: auto;
                max-width: 40px;
                margin-right: 10px;
            }

            .logo-name {
                font-size: 2.8rem;
                font-weight: 800;
                opacity: .8;
            }
        }

        .categories {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;

            .category {
                font-size: 1.8rem;
            }
        }
    }
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;

    max-width: 1260px;
    margin: 20px auto 0;

    .posts-grid {
        grid-area: 1 / 1 / 3 / 2;

        .post-container {
            display: flex;
            flex-direction: column;

            .post-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 30px;
                background-color: $white;
                border-radius: 10px;
                padding: 20px;

                .post-image {
                    width: auto;
                    max-height: 200px;
                }

                .post-title {
                    margin-top: 10px;
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: $text-dark-grey;
                }

                .author-publish-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 20px 0;

                    .post-author-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 50px;

                        .author-photo-container {
                            position: relative;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 10px;
                            overflow: hidden;

                            .author-photo {
                                position: absolute;
                                left: -5px;
                                bottom: -20px;
                                width: 40px;
                            }
                        }

                        .author-name {
                            font-size: 1.8rem;
                            color: $text-dark-grey;
                        }
                    }

                    .publish-date-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 30px;
                            margin-right: 10px;
                        }

                        span {
                            font-size: 1.6rem;
                            color: $text-dark-grey;
                        }
                    }
                }

                .short-text {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-align: center;
                    padding: 0 20px;
                    margin-bottom: 20px;
                    line-height: 24px;
                    font-size: 1.8rem;
                    color: $text-light-grey;
                }

                .btn-continue {
                    width: fit-content;
                    padding: 13px 25px;
                    background-color: $bg-dark-blue;
                    color: $white;
                    font-size: 1.8rem;
                    border-radius: 20px;
                }
            }
        }
    }
}