/**
========================================
============ GENERAL COLORS ============
========================================
*/

$white: #FFFFFF;
$black: #000000;

$bg-light-gray: #F1F5F2;

$text-dark-grey: #313B44;
$text-dark-blue: #023C8D;

$default-text-size: 62.5% // Font sizes and weight